n8n2026/06/G1tDQrqDC3rs4XVm.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Extrair text/calendar do IMAP": {
      "main": [
        [
          {
            "node": "Tem ICS?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem ICS?": {
      "main": [
        [
          {
            "node": "Extrair dados do ICS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair dados do ICS": {
      "main": [
        [
          {
            "node": "É cancelamento?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É cancelamento?": {
      "main": [
        [
          {
            "node": "Buscar evento para cancelar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar evento para atualizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar evento para cancelar": {
      "main": [
        [
          {
            "node": "Preparar exclusão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar exclusão": {
      "main": [
        [
          {
            "node": "Evento encontrado para excluir?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evento encontrado para excluir?": {
      "main": [
        [
          {
            "node": "Excluir evento cancelado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar evento para atualizar": {
      "main": [
        [
          {
            "node": "Preparar atualização ou criação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar atualização ou criação": {
      "main": [
        [
          {
            "node": "Evento já existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evento já existe?": {
      "main": [
        [
          {
            "node": "Atualizar evento existente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar na Agenda Central",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler IMAP LBV Office365": {
      "main": [
        [
          {
            "node": "Extrair text/calendar do IMAP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-25T14:36:14.860Z",
  "id": "G1tDQrqDC3rs4XVm",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Agenda LBV - IMAP Office365 text/calendar para Google Calendar",
  "nodes": [
    {
      "parameters": {
        "downloadAttachments": true,
        "options": {
          "forceReconnect": 1
        }
      },
      "id": "b0aac357-2888-42f2-8eb6-1742a48421b1",
      "name": "Ler IMAP LBV Office365",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        -3920,
        1120
      ],
      "credentials": {
        "imap": {
          "id": "BvNFKDaLNHLRocik",
          "name": "IMAP LBV"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function decodeQuotedPrintable(input) {\n  return String(input || '')\n    .replace(/=\\r?\\n/g, '')\n    .replace(/=([A-Fa-f0-9]{2})/g, (_, hex) => String.fromCharCode(parseInt(hex, 16)));\n}\n\nfunction decodeMimeWord(value) {\n  return String(value || '')\n    .replace(/=\\?([^?]+)\\?Q\\?([^?]+)\\?=/gi, (_, charset, encoded) => {\n      return decodeQuotedPrintable(encoded.replace(/_/g, ' '));\n    })\n    .replace(/=\\?([^?]+)\\?B\\?([^?]+)\\?=/gi, (_, charset, encoded) => {\n      try {\n        return Buffer.from(encoded, 'base64').toString('utf8');\n      } catch (e) {\n        return encoded;\n      }\n    });\n}\n\nfunction getIcsFromBinary() {\n  const binaries = $binary || {};\n  const keys = Object.keys(binaries);\n\n  for (const key of keys) {\n    const file = binaries[key];\n    const fileName = String(file.fileName || '').toLowerCase();\n    const mimeType = String(file.mimeType || '').toLowerCase();\n\n    if (fileName.endsWith('.ics') || mimeType.includes('text/calendar')) {\n      return {\n        content: Buffer.from(file.data, 'base64').toString('utf8'),\n        source: 'binary',\n        fileName: file.fileName || key\n      };\n    }\n  }\n\n  return null;\n}\n\nfunction getRawCandidatesFromJson() {\n  const candidates = [];\n\n  const directKeys = [\n    'raw',\n    'rawEmail',\n    'source',\n    'original',\n    'message',\n    'messageRaw',\n    'emailRaw',\n    'body',\n    'data',\n    'text',\n    'content'\n  ];\n\n  for (const key of directKeys) {\n    if (typeof $json[key] === 'string') {\n      candidates.push($json[key]);\n    }\n  }\n\n  // Em algumas versões/configurações, o raw pode vir dentro de outro objeto.\n  function walk(obj, depth = 0) {\n    if (!obj || depth > 4) return;\n    if (typeof obj === 'string') {\n      if (\n        obj.includes('BEGIN:VCALENDAR') ||\n        obj.toLowerCase().includes('content-type: text/calendar') ||\n        obj.toLowerCase().includes('content-type:text/calendar')\n      ) {\n        candidates.push(obj);\n      }\n      return;\n    }\n    if (typeof obj !== 'object') return;\n    for (const value of Object.values(obj)) walk(value, depth + 1);\n  }\n\n  walk($json);\n  return [...new Set(candidates)];\n}\n\nfunction extractBoundary(raw) {\n  const m = String(raw || '').match(/boundary=\"?([^\";\\r\\n]+)\"?/i);\n  return m ? m[1] : '';\n}\n\nfunction splitHeaderBody(part) {\n  const idx = part.search(/\\r?\\n\\r?\\n/);\n  if (idx < 0) return { headers: part, body: '' };\n  const sep = part.match(/\\r?\\n\\r?\\n/)[0];\n  return {\n    headers: part.slice(0, idx),\n    body: part.slice(idx + sep.length)\n  };\n}\n\nfunction decodeCalendarPart(headers, body) {\n  const encoding = (headers.match(/Content-Transfer-Encoding:\\s*([^\\r\\n;]+)/i)?.[1] || '').toLowerCase();\n  let content = String(body || '').trim();\n\n  if (encoding.includes('base64')) {\n    content = Buffer.from(content.replace(/\\s/g, ''), 'base64').toString('utf8');\n  } else if (encoding.includes('quoted-printable')) {\n    content = decodeQuotedPrintable(content);\n  }\n\n  return content;\n}\n\nfunction getIcsFromRawMime(raw) {\n  raw = String(raw || '');\n\n  // Caso o conteúdo já esteja decodificado no próprio JSON.\n  const direct = raw.match(/BEGIN:VCALENDAR[\\s\\S]*?END:VCALENDAR/i);\n  if (direct) {\n    return {\n      content: direct[0],\n      source: 'raw-direct',\n      fileName: 'text-calendar.ics'\n    };\n  }\n\n  const lower = raw.toLowerCase();\n  const idx = lower.indexOf('content-type: text/calendar');\n  if (idx < 0) return null;\n\n  const boundary = extractBoundary(raw);\n  let part = raw.slice(idx);\n\n  if (boundary) {\n    const boundaryMarker = '--' + boundary;\n    const next = part.indexOf(boundaryMarker, 1);\n    if (next > 0) {\n      part = part.slice(0, next);\n    }\n  }\n\n  const { headers, body } = splitHeaderBody(part);\n  const content = decodeCalendarPart(headers, body);\n\n  if (!content || !content.includes('BEGIN:VCALENDAR')) return null;\n\n  return {\n    content,\n    source: 'raw-mime-text-calendar',\n    fileName: 'text-calendar.ics'\n  };\n}\n\nlet ics = getIcsFromBinary();\n\nif (!ics) {\n  for (const raw of getRawCandidatesFromJson()) {\n    ics = getIcsFromRawMime(raw);\n    if (ics) break;\n  }\n}\n\nconst metadata = JSON.stringify($json.metadata || {}).toLowerCase();\nconst isMeetingHeader =\n  metadata.includes('ee_meetingmessage') ||\n  metadata.includes('calendar-series-instance-id');\n\nif (!ics) {\n  return [\n    {\n      json: {\n        subject: decodeMimeWord($json.subject || ''),\n        from: $json.from || '',\n        hasICS: false,\n        isMeetingHeader,\n        motivo: isMeetingHeader\n          ? 'O e-mail é reunião pelo header do Exchange, mas o node IMAP não expôs a parte text/calendar/raw. Ative formato RAW no node IMAP ou use um node/serviço que entregue o MIME bruto.'\n          : 'E-mail ignorado: não possui .ics/text-calendar.'\n      }\n    }\n  ];\n}\n\nreturn [\n  {\n    json: {\n      subject: decodeMimeWord($json.subject || ''),\n      from: $json.from || '',\n      hasICS: true,\n      arquivoICS: ics.fileName,\n      icsSource: ics.source,\n      data: ics.content\n    }\n  }\n];"
      },
      "id": "06e61062-cf77-4e67-8210-ee75ec6a0796",
      "name": "Extrair text/calendar do IMAP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3680,
        1120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.hasICS === true }}",
              "value2": true
            }
          ]
        }
      },
      "id": "dccf934f-d8e0-466c-b28c-4e35c1d84f76",
      "name": "Tem ICS?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -3440,
        1120
      ]
    },
    {
      "parameters": {
        "jsCode": "function unfoldICS(text) {\n  return String(text || '').replace(/\\r?\\n[ \\t]/g, '');\n}\n\nfunction getEventBlock(ics) {\n  const match = ics.match(/BEGIN:VEVENT([\\s\\S]*?)END:VEVENT/i);\n  return match ? match[1] : ics;\n}\n\nfunction getField(block, field) {\n  const lines = String(block || '').split(/\\r?\\n/);\n\n  for (const line of lines) {\n    if (line.startsWith(field + ':') || line.startsWith(field + ';')) {\n      return line.substring(line.indexOf(':') + 1).trim();\n    }\n  }\n\n  return '';\n}\n\nfunction cleanText(value) {\n  return String(value || '')\n    .replace(/\\\\n/g, '\\n')\n    .replace(/\\\\,/g, ',')\n    .replace(/\\\\;/g, ';')\n    .trim();\n}\n\nfunction parseDate(value) {\n  if (!value) return null;\n  value = String(value).trim();\n\n  let m = value.match(/^(\\d{4})(\\d{2})(\\d{2})T(\\d{2})(\\d{2})(\\d{2})Z$/);\n  if (m) {\n    return `${m[1]}-${m[2]}-${m[3]}T${m[4]}:${m[5]}:${m[6]}.000Z`;\n  }\n\n  m = value.match(/^(\\d{4})(\\d{2})(\\d{2})T(\\d{2})(\\d{2})(\\d{2})?$/);\n  if (m) {\n    return `${m[1]}-${m[2]}-${m[3]}T${m[4]}:${m[5]}:${m[6] || '00'}-03:00`;\n  }\n\n  m = value.match(/^(\\d{4})(\\d{2})(\\d{2})$/);\n  if (m) {\n    return `${m[1]}-${m[2]}-${m[3]}`;\n  }\n\n  return null;\n}\n\nconst ics = unfoldICS($json.data);\nconst eventBlock = getEventBlock(ics);\n\nconst method = String(getField(ics, 'METHOD') || '').toUpperCase();\nconst status = String(getField(eventBlock, 'STATUS') || '').toUpperCase();\n\nconst titulo = cleanText(getField(eventBlock, 'SUMMARY')) || $json.subject || 'Compromisso';\nconst descricaoOriginal = cleanText(getField(eventBlock, 'DESCRIPTION'));\nconst local = cleanText(getField(eventBlock, 'LOCATION'));\n\nconst inicioRaw = getField(eventBlock, 'DTSTART');\nconst fimRaw = getField(eventBlock, 'DTEND');\nconst inicio = parseDate(inicioRaw);\nconst fim = parseDate(fimRaw);\n\nconst uid = getField(eventBlock, 'UID');\nconst isCancelamento = method === 'CANCEL' || status === 'CANCELLED';\n\nif (!uid) {\n  throw new Error('ICS sem UID. Não consigo controlar inclusão/alteração/cancelamento com segurança.');\n}\n\nif (!isCancelamento && (!inicio || !fim)) {\n  throw new Error(`Não consegui converter data/hora. DTSTART: ${inicioRaw} | DTEND: ${fimRaw}`);\n}\n\nconst descricao = `${descricaoOriginal}\\n\\nUID: ${uid}`;\n\nreturn [\n  {\n    json: {\n      titulo,\n      descricao,\n      local,\n      inicio,\n      fim,\n      uid,\n      method,\n      status,\n      isCancelamento,\n      subject: $json.subject || '',\n      arquivoICS: $json.arquivoICS || '',\n      icsSource: $json.icsSource || '',\n      debug: {\n        inicioRaw,\n        fimRaw,\n        method,\n        status,\n        icsSource: $json.icsSource || ''\n      }\n    }\n  }\n];"
      },
      "id": "23f532c0-5fd4-4f5d-949e-3cff64b78a2f",
      "name": "Extrair dados do ICS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3200,
        1120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isCancelamento === true }}",
              "value2": true
            }
          ]
        }
      },
      "id": "a533e795-ad7c-4544-ae8c-8ecd546ab439",
      "name": "É cancelamento?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2960,
        1120
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "Primary"
        },
        "limit": 10,
        "options": {
          "query": "={{ $json.uid }}"
        }
      },
      "id": "fafe613c-59f0-48cb-9d21-09949654797e",
      "name": "Buscar evento para cancelar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        -2720,
        960
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const eventos = $input.all().map(i => i.json || {}).filter(e => Object.keys(e).length > 0);\nconst dados = $('Extrair dados do ICS').item.json;\nconst evento = eventos.find(e => JSON.stringify(e).includes(dados.uid));\n\nif (!evento) {\n  return [{ json: { ...dados, eventoEncontrado: false } }];\n}\n\nreturn [{ json: { ...dados, eventoEncontrado: true, eventId: evento.id } }];"
      },
      "id": "c5c75e78-3f59-4c49-8402-b9c8a4a49c64",
      "name": "Preparar exclusão",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2480,
        960
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.eventoEncontrado === true }}",
              "value2": true
            }
          ]
        }
      },
      "id": "b89cf372-0e35-479c-93d5-15e1e09e0d5e",
      "name": "Evento encontrado para excluir?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2240,
        960
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "Primary"
        },
        "eventId": "={{ $json.eventId }}",
        "options": {}
      },
      "id": "d655f982-26e8-4b59-a97b-e4acc775ce9b",
      "name": "Excluir evento cancelado",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        -2000,
        880
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "Primary"
        },
        "limit": 10,
        "options": {
          "query": "={{ $json.uid }}"
        }
      },
      "id": "022e4cca-3d92-4df4-b18f-142b0866b1ea",
      "name": "Buscar evento para atualizar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        -2720,
        1280
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const eventos = $input.all().map(i => i.json || {}).filter(e => Object.keys(e).length > 0);\nconst dados = $('Extrair dados do ICS').item.json;\nconst evento = eventos.find(e => JSON.stringify(e).includes(dados.uid));\n\nif (!evento) {\n  return [{ json: { ...dados, eventoEncontrado: false } }];\n}\n\nreturn [{ json: { ...dados, eventoEncontrado: true, eventId: evento.id } }];"
      },
      "id": "488a93e0-8957-4dcd-9636-0c4dcca58fd0",
      "name": "Preparar atualização ou criação",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2480,
        1280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.eventoEncontrado === true }}",
              "value2": true
            }
          ]
        }
      },
      "id": "7f2e6b69-4f07-4311-9d32-af64de4c3361",
      "name": "Evento já existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2240,
        1280
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "Primary"
        },
        "eventId": "={{ $json.eventId }}",
        "updateFields": {
          "description": "={{ $json.descricao }}",
          "end": "={{ $json.fim }}",
          "location": "={{ $json.local }}",
          "sendUpdates": "none",
          "start": "={{ $json.inicio }}",
          "summary": "={{ $json.titulo }}"
        }
      },
      "id": "43afadde-3693-464b-96d1-03893d504c42",
      "name": "Atualizar evento existente",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        -2000,
        1200
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "Primary"
        },
        "start": "={{ $json.inicio }}",
        "end": "={{ $json.fim }}",
        "additionalFields": {
          "description": "={{ $json.descricao }}",
          "location": "={{ $json.local }}",
          "sendUpdates": "none",
          "summary": "={{ $json.titulo }}"
        }
      },
      "id": "a1cb246e-b4a0-4766-b2f9-5d9f70f3494f",
      "name": "Criar na Agenda Central",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        -2000,
        1360
      ]
    }
  ],
  "pinData": {},
  "repo_name": "n8n",
  "repo_owner": "simpleit-app",
  "repo_path": "n8n",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-06-25T14:36:14.860Z",
      "createdAt": "2026-06-25T14:36:14.860Z",
      "role": "workflow:owner",
      "workflowId": "G1tDQrqDC3rs4XVm",
      "projectId": "xrwGtTqOG4mXerBv"
    }
  ],
  "staticData": {
    "node:Rodar a cada 5 minutos": {
      "recurrenceRules": []
    },
    "node:Ler IMAP Btree": {}
  },
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-06-25T14:52:34.977Z",
  "versionId": "97ff06a0-58e3-4e71-adec-f38df493adb8"
}